@import url("./mediaqueries/320px.css");
@import url('./mediaqueries/max-768px.css');

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --barras-color: hsl(0, 0%, 13%);
  

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

i{
  font-size: 1.25rem;
}

body.dark-theme{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
  --barras-color: hsl(0, 0%, 77%); 
}

body{
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
  transition: .3s;
}

main{
  padding-top: 4rem;
}

.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader--img{
  width: 100px;
  fill: var(--first-color);
  animation: load 1.5s infinite;
}

.hide{
  display: none;
}

.header{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: .3s;
}

.scroll-header{
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}


.nav{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;
}

.nav--logo{
  fill: var(--first-color);
  display: flex;
  flex-direction: row;
  padding-left:1rem ;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--title-color);
}

.bx{
  cursor: pointer;
}

.logo--svg{
  width: 2.5rem;
}

.nav--menu{
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 6rem 2rem 3rem 2rem;
  right: -100%;
  transition: right .2s linear;
}
.nav--menu__show{
  right: 0;
}

.nav--list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav--item{
  list-style: none;
}

.nav--close, 
.bx-x{
  font-size: 2rem;
  position: absolute;
  top: .8rem;
  right: 1.5rem;
}

.nav--btns{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.color--black{
  color: black;
}

.nav--cart{
  position: relative;
  z-index: 3;
}

.counter{
  background: var(--title-color);
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5px;
  right: -10px;
  width: 1rem;
  height: 1rem;
  color: var(--body-color);
  font-size: 10px;
}

.cart--container{
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: rgba(144, 140, 140, 0.658); */
  z-index: 10;
}


.cart{
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--container-color);
  box-shadow: -4px 5px 10px rgb(147, 147, 147);
  padding: 2rem 1rem;
  overflow: scroll;
}

.cart--products{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.products--item{
  width: 98%;
  display: flex;

}
.item--img{
  width: 50px;
}


.items-carrito{
  background-color: #fff;
  width: 100px;
  height: 50px;
}



.cart--products{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.products--item{
  width: 98%;
  display: flex;

}
.item--img{
  width: 50px;
}


/* .home__titulo {
>>>>>>> 81f269e4618be7d1d543e1965bce9d29d99b41a4
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
} */
h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0px;
  transition: all 0.4s ease 0s;
}

body, button, input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.home__button {
  display: flex;
  align-items: center;
  
}
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: rgb(255, 255, 255);
  font-weight: var(--font-medium);
  padding: 1.25rem 2rem;
  transition: all 0.3s ease 0s;
}
button {
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.home__button {
  box-shadow: rgba(26, 26, 26, 0.2) 0px 12px 24px;

}

.button--small {
  padding: 1rem 1.5rem;
}

.button--gray {
  background-color: rgb(191, 191, 191);
  color: black;
}
  

a {
    text-decoration: none;
}

.card__info{
  padding: 1rem;
}

.product--price{
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  vertical-align: text-top;
}


.product--stock{
  display: inline-block;
  font-size: .7rem;
  vertical-align: unset;
  font-weight: 500;
}

.product--name{
  font-size: .9rem;
  font-weight: 500;
}


.footer {
  background-color: var(--card-color);
  
}

.section {
  padding: 6.5rem 0 1rem;
}

footer {
  display: block;
  margin-top: 100px;
}


.footer__contendor {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}


.footer__titulo {
  font-size: 20px;
  margin-bottom: 10px;

}

.contendor {
  max-width: 1024px;
  margin-left:5%;
  
}


.grid {
  display: grid;
}

div {
    display: block;
}

.footer__link {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

li {
  text-align: -webkit-match-parent;
  display: list-item;

}

ul {
  list-style: none;
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__reserved{
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: 13px;
  color: var(--text-color-light);
}

.footer__list, .footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;

}



.img-carrito{
  width: 100%;
  height: 100%;
}


@keyframes load{
  0% {
    transform: translateY( 0 );
  }
  50%{
    transform: translateY( 10px );
  }
  100%{
    transform: translateY( 0 );
  }
}