@media screen and (min-width: 320px) {
  /* .main{
    width: 100%;
  } */
  .img-home{
    width: 200px;
  }

  .counter{
    background: var(--title-color);
    position: absolute;
    padding: 0.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -5px;
    right: -10px;
    width: 1rem;
    height: 1rem;
    color: var(--body-color);
    font-size: 10px;
  } 
  
  .cart--container{
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }

  .cart{
    width: 100%;
    height: 100%;
    max-width: 400px; 
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--container-color);
    box-shadow: -4px 5px 10px rgb(147, 147, 147);
  } 

  .productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
  }

  .productos__container{
    width: 100%;
  }

  .productos__card{
    /* margin-top: 200px; */
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .home__images{
    position: absolute;
    width: 256px;
    height: 430px;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
  }

  .img-home{
    width: 260px;
  }

  .cards{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__img{
    width: 200px;
    height: 170px;
    background-color: var(--card-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__info{
    width: 200px;
    height: 80px;
    background-color: var(--container-color);
    border-radius: 0 0 10px 10px;
  }

  .btn-add-cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--body-color);
    color: var(--title-color);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: -90px;
    left: 145px;
    border: none;
    box-shadow: 0px 3px 10px  hsl(240, 10%, 8%);
  }

  .img-products{
    width: 150px;
  }

.home__datos{
  width: 20rem;
  height: 15rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 10px;
  color: var(--title-color);
  margin-top: 400px ;
  margin-left: 30px;
}

.home__titulo{
  display: flex;
  color: var(--title-color);
}

.home__precio{
  color: var(--first-color);
}

.productos__container{
  width: 100%;
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  float: left;
}

}


footer{
  margin-top: 400px;
}